<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>О чём этот сайт</title>
    <link rel="stylesheet" href="./public/styles/styles.css" type="text/css" />
  </head>
  <body>
    <header class="header">
      <div><a class="home-logo" href="/index.html">my_site.html</a></div>
      <nav class="navigation">
        <a href="/about.html">О сайте</a>
        <a href="/posts_list.html">Статьи</a>
      </nav>
    </header>
    <main class="about-content">
      <h3 class="about-heading">Что это за сайт</h3>
      <div class="about-block">
        <p class="about-p">Привет. Меня зовут Юра.</p>
        <p class="about-p">На этом сайте я пишу обо всём, что мне интересно: веб-разработка, кино, новости из мира науки, медицины и т.д.</p>
        <p class="about-p">Добро пожаловать!</p>
      </div>
    </main>
    <footer class="footer">Сайт сделан с помощью&nbsp;<a href="https://github.com/yurirodnov/raven" target="_blank">raven</a></footer>
  </body>
</html>
