<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Публикации</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css" />
  </head>
  <body>
    <header class="header">
      <div><a class="home-logo" href="/index.html">my_site.html</a></div>
      <nav class="navigation">
        <a href="./about.html">О сайте</a>
        <a href="./posts_list.html">Публикации</a>
      </nav>
    </header>
    <main class="posts-list-content">
      <h3 class="posts-list-heading">Публикации</h3>
      <div class="posts-list">
        <% links.forEach(post => { %>
        <a href="<%= post.link %>"><%= post.title %></a>
        <% }) %>
      </div>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
